.card{
    display: flex;
    justify-content: center;
    margin-bottom:  $spacing-xl;
}

.card__container{
    margin-left: $spacing-l;
    margin-right: $spacing-l;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.125em 0.375em 0 hsla(0, 0%, 0%, 0.2);
    background-color: $foreground-colour;
}

.card__flag{
    margin-bottom: $spacing-l;
    clip-path: polygon(0 0, 100% 0, 100% 86%, 0 100%); 
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 0.1em;
    border-top-right-radius: 0.1em;
}

.card__name{
    margin-bottom: $spacing-m;
    margin-left: $spacing-l;
    color: $primary-text-colour;
}

.card__story{
  margin-bottom: $spacing-l;
  font-weight: 200;
}

.card__border-country-heading{
  margin-bottom: $spacing-s;
  font-weight:700;
}

.card__border-country-heading, .card__story{
    padding-bottom: $spacing-xs;
    margin-left: $spacing-l;
    margin-right: $spacing-xl;
    color: $secondary-text-colour;
    padding:$spacing-s;
}

.card__container-inner{
  display: flex;
  justify-content: start;
  flex-flow: wrap;
  padding-left: $spacing-m;
  padding-right: $spacing-m;
  }
  
  .card__border-countries{
    display: flex;
    padding-left: $spacing-xs;
    margin-bottom: $spacing-m;
    margin-left: $spacing-s;
    margin-right: $spacing-s;
    box-shadow: 0 0.125em 0.375em 0 hsla(0, 0%, 0%, 0.2);
  }

  .card__border-countries:hover { 
    box-shadow: 0.125em 0.375em 1.85em hsla(0, 0, 0, 0.2); 
  }

  .borderlink{
    color:$primary-text-colour;
    text-decoration: none;
    padding: $spacing-s;
    font-weight: 200;
 }
 
  .borderlink:hover{
      color: $hover-text-colour;
  }

  
