.cards{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.cards__container{
    margin-left: $spacing-l;
    margin-right: $spacing-l;
    display: flex;
    flex-direction: column;
    padding-bottom: $spacing-m;
    margin-bottom: $spacing-xl;
    border-radius: 0.2em;
    cursor: pointer;
    box-shadow: 0 0.125em 0.375em 0 hsla(0, 0%, 0%, 0.2);
    background-color: $foreground-colour;
}

.cards__img{
    height: 10em;
    margin-bottom: $spacing-m;
    clip-path: polygon(0 0, 100% 0, 100% 86%, 0 100%); 
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 0.1em;
    border-top-right-radius: 0.1em;
}

.cards__name{
    padding-bottom: $spacing-m;
    font-weight: 700;
    font-size: $h6;
    color: $primary-text-colour;
}

.cards__desc{
    font-weight: 300;
    font-size: $body-text;
    color: $secondary-text-colour;
}

.cards__desc, .cards__name{
    margin-left: $spacing-m;
    margin-right: $spacing-m;
    text-align: left;
}

.cards__container:hover { 
    box-shadow: 0.125em 0.375em 1.85em hsla(0, 0, 0, 0.2); 
}

.card__link-to-detail-page{
    color: $primary-text-colour;
    text-decoration: none;
    display:flex;
    background-color:$background-colour;
    padding-top: $spacing-l;
    padding-left: $spacing-l;
    padding-right: $spacing-l;
    padding-bottom:  $spacing-m;
    border-radius: 0.2em;
}

.card__link-to-detail-page:hover{
    box-shadow: 0.105em 0.275em 1.85em hsla(0, 0, 0, 0.2); 
    color: $hover-text-colour;
}
